* {
    margin: 0;
    padding: 0;
}

/*Shared Styles*/

body {
    background-color: #F5F8FF;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary {
    background-color: #4E47FF;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 48px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-primary:hover {
    background-color: #1e90ff;
    color: #fffac8;
}

.heading {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #252432;
}

/*Navbar and Banner Section*/

header {
    background-image: url(B12A01-landing-launchpad-main/Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 116px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    margin-bottom: 158px;
}

.name {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.sign-up {
    width: 132px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .message {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
    color: #252432;
}

.focused {
    width: 174px;
}

/*Action Section*/

.action {
    display: flex;
    justify-content: center;
    margin-bottom: 116px;
}

.action-container {
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 517px;
}

.sub-heading {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

.preview {
    width: 229px;
}

.right-side img {
    border-radius: 48px;
    border: none;
}

/*Productive Users Section*/

.productive-section {
    display: flex;
    justify-content: center;
    height: 306px;
    margin-bottom: 137px;
}

.productive-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    border: none;
    border-radius: 24px;
}

.pro-head {
    width: 856px;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
}

.mid-container {
    display: flex;
    justify-content: space-around;
    width: 856px;
    gap: 158px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container .first {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.inner-container .second {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/*Users Feedback Section*/

.user-feedback-section {
    display: flex;
    justify-content: center;
    height: 342px;
    margin-bottom: 137px;
}

.feedback-section-container {
    width: 1140px;
}

.feedback-heading {
    margin-bottom: 50px;
    text-align: center;
}

.review-container {
    display: flex;
    gap: 20px;
}

.review {
    width: 366.67px;
    box-sizing: border-box;
    padding: 24px 24px;
    background-color: #fafbff;
    border: 1px solid #f2eded;
    border-radius: 14px;
}

.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.review-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #1e1e1e;
}

.review-statement {
    font-size: 16px;
    color: #1e1e1e;
    margin-bottom: 24px;
}

.reviewer {
    display: flex;
    gap: 12px;
}

.reviewer-name {
    font-size: 16px;
    color: #757575;
    font-weight: bold;
    margin-bottom: 2px;
}

.reviewer img {
    border-radius: 50%;
    border: none;
}

.date {
    font-size: 16px;
    color: #b3b3b3;
}

/*Ready to Focus Better Section*/

.ready-section {
    height: 696.77px;
    display: flex;
    justify-content: center;
    margin-bottom: 92.23px;
}

.ready-section-container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    border-radius: 14px;
}

.ready-heading {
    font-size: 50px;
    margin-bottom: 20px;
}

.ready-sub {
    font-size: 16px;
    color: #808080;
    margin-bottom: 20px;
}

.btn-ready {
    width: 195px;
    height: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ready-section-container img {
    border: none;
    border-radius: 48px;
}

/*Let’s Get In Touch Section*/

.contact-section {
    display: flex;
    justify-content: center;
    height: 632px;
    margin-bottom: 14px;
}

.contact-section-container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.contact-left {
    width: 528px;
}

.contact-heading {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    margin-top: 200px;
}

.contact-right {
    width: 497px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 71px;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

input,
textarea {
    width: 497px;
    height: 70px;
    box-sizing: border-box;
    padding: 20px 32px;
    background-color: #ffffff;
    color: #808080;
    font-size: 20px;
    border: 1px solid #d6dded;
    border-radius: 10px;
    margin-bottom: 19px;
}

textarea {
    height: 167px;
    resize: none;
}

.btn-contact {
    height: 62px;
}

/*Footer Section*/

.footer-container {
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.footer-name {
    font-size: 100px;
    margin-top: 104px;
    margin-bottom: 8px;
}

.footer-desc {
    font-size: 16px;
    text-align: center;
    color: #8987A1;
    line-height: 150%;
    margin-bottom: 20px;
}

.links {
    width: 401px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    gap: 48px;
}

.links a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}